<!DOCTYPE html> 
<html>
<head>
    <meta charset='UTF-8'>
    <title>Main page</title>
    <style>
        body{
            background-color: skyblue;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 300px;
            text-align: center;  
            border : blue 2px blanchedalmond;
        }

        h1{
            text-align: center;
        }
        </style>

</head>
<body>
    <h1>Welcome to the main page of my website</h1>

    <p>if you're not subcribe yet, please create your account :<a href="/index/register">Register</a></p>
    <p>otherwise, connect to your account : <a href="/index/login">Login</a>  </p>



</body>
</html>